{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/strict"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true
  }
}
