@import 'normalize.css';
@import './colors';
@import './sizes';

@import './btn';
@import './layout';
@import './site-nav';
@import './cart-nav';
@import './product';
@import './shopping-cart';
@import './cart-item';

body, html {
  height: 100%;
}
body, input, button, select {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul, li { list-style: none }

h1, h2, h3, h4 { font-weight: 500; }

strong { font-weight: 500; }
