.btn {
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 0;
  display: block;

  &--primary {
    color: var(--light-bg);
    background: var(--pink);
    padding: var(--xl) var(--sm);
    font-size: var(--lg);
    font-weight: 500;
    transition: all 0.1s ease-in;
    width: 100%;
  }

  &--primary:hover,
  &--primary:focus {
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 3px 2px rgba(0,0,0,0.1);
  }

  &--primary:active {
    box-shadow: none;
    transform: translateY(1px);
    background: var(--pink-dark);
  }

  &--secondary {
    display: flex;
    align-items: flex-end;
    padding: 0;
  }
  &--secondary-underline {
    border-bottom: 0.1em solid var(--pink);
    padding-bottom: 0.1em;
  }
}

.btn:active,
.btn:focus {
  outline: none;
}
