.container {
  color: var(--content);
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "site-nav      cart-nav"
                       "product-image product-detail";
  grid-template-columns: 1fr 1.61fr;
  grid-template-rows: 90px 1fr;
}

@media (--md) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (--sm) {
  /*Single-column view for smaller screens*/
  .container {
    grid-template-areas: "site-nav"
                         "cart-nav"
                         "product-image"
                         "product-detail";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .site-nav { background: white; }
}

.site-nav {
  grid-area: site-nav;
}
.product-image {
  grid-area: product-image;
}
.product-detail {
  grid-area: product-detail;
}
